h5, p{margin: 0;}

.main_body_container {
    border: 1px solid;
    max-width: 90%;
    margin-top: 50px;
    position: relative;
}

.list_of_videos_container {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    padding: 15px;
}

.video_posts {
    width: 100%;
    /* height: 77px; */
    box-shadow: 0 0 6px 0px rgb(185, 185, 185);
    margin-bottom: 10px;
}

.video_posts > img {
    width: 100%;
    height: auto;
}

.video_posts > .post_details {
    text-align: left;
    padding: 10px;
}