h5, p{margin: 0;}

.main_body_container {
    /* border: 1px solid; */
    max-width: 90%;
    margin-top: 50px;
    /* position: relative; */
}

.right_sec_container {
    float: left;
    width: 66%;
    padding: 15px;
    margin-top: 20px;
}

.right_sec_container > video {
    width: 100%;
}

.list_of_videos_container {
    /* position: absolute; */
    float: left;
    /* right: 0;
    top: 0; */
    width: 25%;
    padding: 15px;
}

.video_posts {
    width: 100%;
    /* height: 77px; */
    box-shadow: 0 0 6px 0px rgb(185, 185, 185);
    margin-bottom: 10px;
}

.video_posts > img {
    width: 100%;
    height: auto;
}

.video_posts > .post_details {
    text-align: left;
    padding: 10px;
}

.media{
    padding: 10px;
}
.media video{
    width: 100%;
}
.media-info {
    background: #f53661;
}

.media-info .title {
    padding: 15px 30px;
    margin: 0;
    color: black;
    background: #ffffff;;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}


.controls {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
}


.badge img {
    border-radius: 100%;
    background: #fff;
    padding: 5px;
    height: 40px;
}
.badge {
    display: flex;
    align-items: center;
    padding: 15px;
}


@media (max-width: 800px) {
    .controls {
        grid-template-columns: 50% 50%;
    }
}

.controls {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
}

.badge {
    display: flex;
    align-items: center;
    padding: 15px;
}
.controls div:nth-of-type(2n) {
    border: 2px dashed #fdfdfd;
    border-top: 0;
    border-bottom: 0;
}

.share {
    text-align: center;
    position: relative;
}

.comments {
    margin-top: 30px;
}

textarea {
    width: 80%;
    padding: 0;
    height: 100px;
    margin: auto;
    display: block;
    margin-bottom: 15px;
}
.card {
    display: flex;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 15px;
    padding-left: 30px;
}

.card {
    display: flex;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 15px;
    padding-left: 30px;
}
.card span {
    color: #000;
}
.card .badge {
    display: block;
}
.badge {
    display: flex;
    align-items: center;
    padding: 15px;
}
.card .badge span{
    margin: 0; 
    display: block;
}
.card .badge {
    text-align: center;
}
.card span.usn {
    font-size: 0.7rem;
}
.card p {
    padding-top: 10px;
    color: #2b2b2b;
}